__pycache__/
*.pyc

# Runtime artifacts
data/raw/*
data/processed/*
data/models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/models/.gitkeep

# Local env
.venv/

# local share package archives
Package-File/*.zip
.streamlit/secrets.toml
